# Ignore folder where lazy.nvim clones plugins
/lazy/

# Neovim specific
*.swp
*.swo
*.swn
*.lo
*.o

# Cache, session, and backup files
.cache/
sessions/
undodir/
backupdir/

# Mason stuff
/mason/
/data/
